[submodule "ref/Adafisher"]
	path = ref/Adafisher
	url = https://github.com/AtlasAnalyticsLab/AdaFisher.git
[submodule "ref/continual-learning"]
	path = ref/continual-learning
	url = https://github.com/GMvandeVen/continual-learning.git
[submodule "ref/Omnigrok"]
	path = ref/Omnigrok
	url = https://github.com/KindXiaoming/Omnigrok.git
[submodule "ref/muon"]
	path = ref/muon
	url = https://github.com/KellerJordan/Muon.git
[submodule "ref/shampoo"]
	path = ref/shampoo
	url = https://github.com/facebookresearch/optimizers.git
